<div class="container h-screen w-screen flex flex-col justify-center px-4 background-grad flex-wrap items-center">
  <div class="sec-container card">
    <div>
      <h3>Enter your OTP</h3>
    </div>
    <div
      [formGroup]="otp"
      class="flex flex-wrap flex-row justify-around divide-x-6 otp-cover max-w-[530px]"
    >
      <!-- <div class="w-1/6 "> -->
      <input
        id="one"
        class="boxes"
        type="text"
        maxlength="1"
        (paste)="onPaste($event)"
        (keyup)="input($event)"
        (keydown)="check($event)"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
        formControlName="one"
      />
      <!-- </div> -->
      <!-- <div class="w-1/6  "> -->
      <input
        id="two"
        class="boxes"
        type="text"
        maxlength="1"
        (keyup)="input($event)"
        (keydown)="check($event)"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
        formControlName="two"
      />
      <!-- </div> -->
      <!-- <div class="w-1/6 "> -->
      <input
        id="three"
        class="boxes"
        type="text"
        maxlength="1"
        (keyup)="input($event)"
        (keydown)="check($event)"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
        formControlName="three"
      />
      <!-- </div> -->
      <!-- <div class="w-1/6 "> -->
      <input
        #four
        class="boxes"
        type="text"
        maxlength="1"
        (keyup)="input($event)"
        (keydown)="check($event)"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
        formControlName="four"
      />
      <!-- </div> -->
      <!-- <div class="w-1/6 "> -->
      <input
        #five
        class="boxes"
        type="text"
        maxlength="1"
        (keyup)="input($event)"
        (keydown)="check($event)"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
        formControlName="five"
      />
      <!-- </div> -->
      <!-- <div class="w-1/6 "> -->
      <input
        id="six"
        class="boxes"
        type="text"
        maxlength="1"
        (keyup)="input($event)"
        (keydown)="check($event)"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
        formControlName="six"
      />
      <!-- </div> -->
    </div>
    <div class="otp-box">
        <button class="submit" (click)="goToHomePage()">Submit</button>
      </div>
  </div>
</div>
