.otp-cover{
    // width:40%;
    // border-width: 1px;
    // border-color: black;
    // height: 50px;
}

.boxes{
    // border-color: black;
    border-width: 1px;
    width: 10%;
}

    


.submit{
    background-color: blue;
    border-radius: 17px;
    font-size: 15px;
    color: white;
    align-items: center;
    padding: 10px;
    min-width: 151px;
    font-weight: bold;
    transition: .5s;
}

.submit:hover {
    background-color: rgba(0, 0, 255, 0.411);
    transition: .5s;
}

.card {
    padding: 1em;
    max-width: 500px;
}

.otp-box{
    display: flex;
    justify-content: center;

}

.sec-container{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
}

