.otp-cover{
    width:40%;
    border-width: 1px;
    border-color: black;
    background-color: beige;
    height: 50px;
}

.boxes{
    border-color: black;
    border-width: 1px;
    width: 10%;
    padding-left: 15px;
}

    


