/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    margin: auto;

}

.card {

    box-shadow: 0 4px 8px 0 rgb(0 0 0);
    transition: 0.3s;
    padding: 50px;
    background: white;
    border-radius: 10px;
    flex-wrap: wrap;
    gap: .7em;
    display: inline-flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  input {
    border-radius: 10px;
    text-align: center;
    padding: 0;
    min-width: 1.4rem;
    height: 50px;
    transition: .5s;
  }
  input:focus {
    border-width: 5px;
    transition: .5s;
    border-color: rgb(3, 98, 110);
  }
  input:active {
    border-width: 5px;
    transition: .5s;
    border-color: rgb(3, 98, 110);
  }
  body {
    background: rgb(131,127,196);
background: linear-gradient(90deg, rgba(131,127,196,1) 0%, rgba(9,121,113,1) 35%, rgba(6,71,162,1) 55%, rgba(4,109,187,1) 67%, rgba(0,212,255,1) 100%);
}